.page header h5 {
  padding: 5px;
  margin: 10px;
}
header {
  border-bottom: 1px solid rgb(194, 191, 191);
}
.cuerpo {
  margin: 15px;
  padding: 25px;
}
.email,
.password {
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  padding: 10px;
  margin: 10px;
}

.registro {
  margin-top: 20px;
}
